.list-entries-card {
  position: relative;
  border-left-width: 5px;
  padding: 6px;
  margin-bottom: 16px;
  border-left-color: #ff8400;
}

.list-tweets-card {
  position: relative;
  border-left-width: 5px;
  padding: 6px;
  margin-bottom: 16px;
  border-left-color: #41bfff;
}

.list-entries-title {
  color: #FF8400;
  font-weight: 600;
  font-size: 20px;
}

.separator {
  color: #EDEDED;
  margin: 0 -8px 8px;
}

.btn-filled {
  background: #FF8400;
  border: 2px solid #FF8400;
  border-radius: 30px;
  color: white;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  padding: 2px 12px;
  font-weight: 600;
  text-transform: none;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.btn-showTweet {
  background: #41bfff;
  border: 2px solid #41bfff;
  border-radius: 30px;
  color: white;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  padding: 2px 12px;
  font-weight: 600;
  text-transform: none;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
}

.btn-hideTweet {
  background: #e0245e;
  border: 2px solid #e0245e;
  border-radius: 30px;
  color: white;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  padding: 2px 12px;
  font-weight: 600;
  text-transform: none;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
}

